/* This applies to all elements (bad practice) */
* {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

/* This css centers at the middle of the screen */
img{
    max-width: 100%;
}
#container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	width: 100%;
    height: 100vh;
}
.inventory-container {
	padding : 15px;
    position: absolute;
    z-index: 3;
    max-width: 1100px;
    width: 100%;
    height: 100%;
    margin: auto;
    background: #0000006b;
    max-height: 75vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.inventory-header {
    display: flex;
	margin : 0 0 15px;
}
.inventory-badge span{
	color: #35d600;
}
.inventory-badge {
    padding: 10px;
    background: #000000a6;
    border-radius: 30px;
    margin-right: 15px;
}
.inventory-body{
	display: flex;
}
.inventoy-block{
	flex : 0 0 60%;
    position: relative;
}
.inventory-character{
	flex : 1;
	background: #ffffff38;
	padding : 20px;
}
.inventory-grid {
    display: flex;
    flex-flow: row wrap;
}
.invontory-grid-item {
    padding: 1px;
    width: 20%;
}
.invontory-grid-body{
	background: #000000a6;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
	padding: 5px;
    position: relative;
}
.inventory-gird-item-name{
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}
.inventory-gird-item-weight{
	font-size : 10px;
}

.inventory-character-grid{
	display: flex;
}
.inventory-cg-person{
	flex : 1;
}
.with-slot-item{
	flex : 0 0 100px
}
.inventory-cg-channel {
    background: #0000009e;
    width: 100%;
    min-height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px;
    max-width: 100px;
}
.inventory-character-grid-bottom {
    display: flex;
    justify-content: space-evenly;
}


.inventory-character-grid-bottom .inventory-cg-channel{
    margin: 0;
}

.inventory-grid-menu-dropdown{
    position: absolute;
    bottom: -40px;
    right: -24px;
    background: #000000b8;
    padding: 10px;
    border-radius: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    z-index: 9;
}
.invontory-grid-item.active .inventory-grid-menu-dropdown{
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in-out;
}

.inventory-gm-dropdown-items{
    font-size: 15px;
    text-align: center;
    padding: 0 0 10px;
}


.inventory-gm-dropdown-items:last-child{
    padding: 0;
}

.inventory-slot {
    background: #000000d4;
    position: absolute;
    z-index: 9;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.inventory-slot-item-1,
.inventory-slot-item-2,
.inventory-slot-item-3,
.inventory-slot-item-4,
.inventory-slot-item-5{
    margin: 15px;
    background: #404040;
    height: 90px;
    position: relative;
}

.inventory-grid-item-img{
    height: 90px;
}

.inventory-grid-item-img img{
    height: 90px;
}

.inventory-height{
    height: calc(65vh);
    overflow: auto;
    overflow-x: hidden;
}
.inventory-slot-images{
    position: relative;
    z-index: 2;
}
.inventory-slot-images img{
    height: 90px;
    width: 100%;
    object-fit: contain;
}
.inventory-slot-badge {
    position: absolute;
    z-index: 1;
}
.image-slot-1,
.image-slot-2,
.image-slot-3,
.image-slot-4,
.image-slot-5{
    display: none;
}
.image-slot-1 .active,
.image-slot-2 .active,
.image-slot-3 .active,
.image-slot-4 .active,
.image-slot-5 .active{
    display: block;
}

.inventory-slot-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ui-state-highlight,
.ui-droppable-active{
    background: red;
}

.inventory-slot-item .invontory-grid-item{
    width: 100%;
}

#slot-1,
#slot-2,
#slot-3,
#slot-4,
#slot-5{
    display: none;
}
#slot-1.active,
#slot-2.active,
#slot-3.active,
#slot-4.active,
#slot-5.active{
    display: block;
}